@{
    ViewData["Title"] = "Выбрать заместителя";
}

<h3>Выберите подразделение</h3>
@Html.DropDownList("Department", ViewBag.Deps as SelectList, new { id = "department" })
<h3>Выберите сотрудника</h3>
@Html.DropDownList("Employee", ViewBag.Employees as SelectList, new { id = "employee" })

@section scripts{
<script type="text/javascript">
    $(function () {
        $('#department').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {
                     
                    // заменяем содержимое присланным частичным представлением
                    $('#employee').replaceWith(data);
                }
            });
        });
    })
</script>
}