@{
    ViewData["Title"] = "Панель руководителя";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3>Мои подразделения</h3>
            <a href="~/Head/Departments" class="btn btn-primary">Просмотр</a>
        </div>
    </div>
</div>