@using VacationSystem.HtmlHelpers;

@{
    ViewData["Title"] = "Панель руководителя";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div id="profile" class="container">
    <div class="row">
        @Html.CheckError(error)
        <div id="profile-background" class="content-background">
            <h3>Панель руководителя</h3>
            <a asp-controller="Head" asp-action="Departments" class="btn btn-primary btn-lg menu-button">Подразделения</a>
            <a asp-controller="Styles" asp-action="Index" class="btn btn-primary btn-lg menu-button">Стили руководства</a>
            <a asp-controller="Head" asp-action="Groups" class="btn btn-primary btn-lg menu-button">Группы сотрудников</a>
            <a asp-controller="Head" asp-action="Rules" class="btn btn-primary btn-lg menu-button">Правила отпусков</a>
            <a asp-controller="Deputies" asp-action="Index" class="btn btn-primary btn-lg menu-button">Заместители</a>
            <a href="#" class="btn btn-primary btn-lg menu-button">Правила видимости</a>
        </div>
    </div>
</div>




