@using VacationSystem.HtmlHelpers

@{
    ViewData["Title"] = "Авторизация в системе";

    string error = null;
    if (ViewBag.Error != null)
        error = ViewBag.Error;
    else if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div class="container">
    <div class="row">
        <div id="login-form" class="col-4 ml-auto mr-auto mt-3">
            @Html.CheckError(error)
            <form method="post" action="~/Login/Index">
                <label>Логин</label>
                <input type="text" name="login"/><br/>
                <input type="submit" value="Войти" class="btn-primary"/>
            </form>
        </div>
    </div>
</div>
