@using VacationSystem.HtmlHelpers

@{
    ViewData["Title"] = "Авторизация в системе";

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div id="login" class="container">
    <div class="row">
        <div class="block-center col-md-5 col-sm-6 col-xs-10">
            @Html.CheckError(error)
            <div id="login-background" class="content-background">
                <h3>Авторизация в системе</h3>
                <hr />
                <form method="post" action="~/Login/Index">
                    <label>Логин</label>
                    <input type="text" name="login" class="block-center"/><br/>
                    <input type="submit" value="Войти" class="btn btn-primary block-center"/>
                </form>
            </div>
        </div>
    </div>
</div>
