@model List<HeadStyleViewModel>;

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Стили управления";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            @foreach(HeadStyleViewModel style in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @style.Department.Name
                        </h5>
                        <p class="card-text">
                                @style.Style.Description
                        </p>
                        <a asp-controller="Styles" asp-action="EditStyle" asp-route-id="@style.Department.Id" class="btn btn-primary">Изменить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>