@model List<Department>
@using VacationSystem.Models

@{
    Layout = "_Common";

    ViewData["Title"] = "Список подразделений";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h3>Список подразделений</h3>
            <hr />
            <form>
                <input type="text" name="query" />
                <input type="submit" class="btn btn-primary" value="Поиск" />
            </form>
            <div class="col-10">
                @foreach (Department dep in Model)
                {
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                @dep.Name
                            </h5>
                            <a href="~/Admin/Department/@dep.Id" class="btn btn-primary">Просмотр подразделения</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>