@model List<Department>
@using VacationSystem.Models

<div class="container">
    <div class="row">
        <div class="col-10">
            @foreach (Department dep in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @dep.Name
                        </h5>
                        <a href="~/Admin/Department/@dep.Id" class="btn btn-primary">Просмотр подразделения</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>