@using VacationSystem.HtmlHelpers;

@{
    Layout = "_Common";

    ViewData["Title"] = "Панель администратора";
}

<div id="profile" class="container">
    <div class="row">
        <div id="profile-background" class="content-background">
            <h3>Добро пожаловать, администратор</h3>
            <hr />
            <p>В панели администратора предоставляется доступ к спискам:</p>
            <a asp-controller="Admin" asp-action="Departments" class="btn btn-primary btn-lg menu-button">Подразделений</a>
            <a asp-controller="Admin" asp-action="Employees" class="btn btn-primary btn-lg menu-button">Сотрудников</a>
        </div>
    </div>
</div>