@using VacationSystem.HtmlHelpers
@{
    int holCount = ViewBag.HolCount;
    int empCount = ViewBag.EmpCount;
    int depCount = ViewBag.DepCount;
    int empInDepCount = ViewBag.EmpInDepCount;
}

<div class="container">
    <div class="row">
        <div class="col-7-md">
            <!--Не удалось получить данные из-за ошибки-->
            @if((holCount == -1) || (empCount == -1) || (depCount == -1) || (empInDepCount == -1))
            {
                <div class="alert alert-danger">
                    Произошла ошибка загрузки данных
                </div>
            }
            else
            {
                <h4>Производственный календарь</h4>
                @Html.ShowUpdateButton(holCount, "holiday", false)
                <h4>Подразделения</h4>
                @Html.ShowUpdateButton(depCount, "departments", false)
                <h4>Сотрудники</h4>
                @Html.ShowUpdateButton(empCount, "employees", false)
                <h4>Должности сотрудников в подразделениях</h4>
                @Html.ShowUpdateButton(empInDepCount, "emp-in-deps", false)
            }
        </div>
    </div>
</div>
