@using Microsoft.AspNetCore.Http;
@using VacationSystem.HtmlHelpers;

@{
    Layout = "_Common";

    ViewData["Title"] = "Профиль пользователя";

    // является ли данный сотрудник руководителем какого-нибудь подразделения
    bool isHead = false;
    if (TempData["head"] != null)
        isHead = (bool)TempData["head"];

    string error = null;
    if (TempData["Error"] != null)
        error = TempData["Error"].ToString();
}

<div id="profile" class="container">
    <div class="row">
        @Html.CheckError(error)
        <div id="profile-background" class="content-background">
        <h3>Профиль пользователя</h3>
        @if (isHead == true)
            {
                <a asp-controller="Head" asp-action="Index" class="btn btn-primary btn-lg menu-button">Управление</a>
            }
            <a href="#" class="btn btn-primary btn-lg menu-button">Мои подразделения</a>
            <a asp-controller="Vacation" asp-action="Index" class="btn btn-primary btn-lg menu-button">Мои отпуска</a>
            <a href="#" class="btn btn-primary btn-lg menu-button">Уведомления</a>
            <a asp-controller="Login" asp-action="Logout" class="btn btn-primary btn-lg menu-button">Выйти</a>
        </div>
    </div>
</div>