@model PosRuleViewModel

@using VacationSystem.ViewModels;

@{
    Layout = "_Common";

    ViewData["Title"] = "Редактирование правила для должности";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <form method="post">
                <h3>Описание правила:</h3>
                <textarea name="description" maxlength="100">@Model.Rule.Description</textarea>
                <h3>Период действия правила:</h3>
                <input name="startDate" type="date" id="date-edge-start" />
                <input name="endDate" type="date" id="date-edge-end" />
                <h3>Количество сотрудников</h3>
                <input type="number" name="number" value="@Model.Rule.PeopleNumber" />
                <input type="submit" class="btn btn-primary" value="Сохранить" />
            </form>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function() {
        // установить пределы на граничные даты выбираемого периода
        var year = new Date().getFullYear();

        document.getElementById('date-edge-start').setAttribute("min", year + "-01-01");
        document.getElementById('date-edge-start').setAttribute("max", year + "-12-31");

        document.getElementById('date-edge-end').setAttribute("min", year + "-01-01");
        document.getElementById('date-edge-end').setAttribute("max", year + "-12-31");
    });
</script>
}