@model IEnumerable<VacationSystem.ViewModels.ListItems.PosListItem>

<select id="positions" name="positions">
    @foreach (var item in Model)
    {
        <option value="@item.PosId">@item.Name</option>
    }
</select>