@model SetVacation;

@using VacationSystem.Models;

@{
    Layout = "_Common";

    ViewData["Title"] = "Прерывание отпуска";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Прервать отпуск</h3>
            <hr />
            <form method="post">
                <h4>Отпуск:</h4>
                <p>@Model.StartDate.ToString("yyyy-MM-dd") - @Model.EndDate.ToString("yyyy-MM-dd")</p>
                <h4>Дата прерывания отпуска</h4>
                <input type="date" name="interruptionDate" value="@Model.EndDate.ToString("yyyy-MM-dd")"/>
                <input type="submit" class="btn btn-primary" value="Сохранить"/>
            </form>
        </div>
    </div>
</div>