.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}