@{
    Layout = "_Common";

    ViewData["Title"] = "Выбрать заместителя";
}

<div class="container">
    <div class="row">
        <div class="col-7">
            <h3>Добавить заместителя</h3>
            <form method="post">
                <h3>Выберите подразделение</h3>
                @Html.DropDownList("Department", ViewBag.Deps as SelectList, new { id = "department" })
                <h3>Выберите сотрудника</h3>
                @Html.DropDownList("Employee", ViewBag.Employees as SelectList, new { @class = "employee-dropdown-list" })
                <input type="submit" class="btn btn-primary" value="Добавить" />
            </form>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $('#department').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('.employee-dropdown-list').replaceWith(data);
                }
            });
        });
    })
</script>
}